{% extends 'layout.html' %}

{% block bodypart %}
<body class="sand-gradient-background">
{% endblock bodypart %}

{% block header %}

<header class="header-home">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../static/Foggy.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100">
        <div class="row">

            <div class="col-small my-auto text-white">
                <h1 class="display-3 mb-3 font-weight-bold">Saequus*</h1>
                <h2 class="mb-4"><mark>Творческий блог Славы Специана</mark></h2>
                <h3 class="text-gray"><em>Сборник стихов, заметки, публикации и многое другое</em></h3>
                <span>*Сайкус</span>
            </div>
        </div>
      </div>
    </div>

</header>
{% endblock header %}


{% block breadcrumb %}

{% endblock breadcrumb %}



{% block content %}

{% endblock content %}
