{% extends 'layout.html' %}

{% block bodypart %}
<body class="page-id-9">
{% endblock bodypart %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('home') }}">Главная</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('sbornik_ot_raskata_do_prosveta') }}">
                Сборник «От раската до просвета»</a></li>
            <li class="breadcrumb-item active" aria-current="page">Что есть человек?</li>
        </ol>
    </div>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
  <h2 class="title">Что есть человек?</h2>

    <div class="row text-left">

            <p class="ml-3">

                Что есть человек? – подносит слабым голосом             <br>
                Мудрец вопрос свой дерзкий к небесам.                   <br>
                Пытаясь отыскать в сплетениях мысли, сам                <br>
                Все глубже впутывается в мысленную поросль              <br>
                Растерзанных судьбой душевных ран                       <br>
                И путаницу чувств, ошметков слов и звуков,              <br>
                Кричащих фраз из яростной толпы                         <br>
                И тихий лепет старческой мольбы.                        <br>
                Да, логика отчасти близорука                            <br>
                И не дает поставить судьбы на весы.                     <br>
                Да что поставить? Кто мы, чтоб судить?                  <br>
                Когда своим же действиям находим ряд причин             <br>
                Список условностей, набор из оправданий                 <br>
                С лицом святейшего идем в запой, блудить.               <br>
                Других же яростно за то же критикуя.                    <br>
                Забвенье это ли? А нет, такова натура -                 <br>
                Гниющая природа человека                                <br>
                Не знающая чувства сострадания,                         <br>
                Питающаяся болью и страданием.                          <br>
                Заманивая беззащитных в сеть идей                       <br>
                Паутину планов, образов, свершений -                    <br>
                Жесток человек, использующий других                     <br>
                А говорят, сверхчеловек, он - совершенен.               <br>
                Он - мразь, жаль, что друзья найдутся у таких.          <br>
                Или последователи, шавки, послушанки.                   <br>
                Слуги, партнеры, попрошайки.                            <br>
                Да, мир – не совершенен – мы есть в нём.                <br>
                Нет совершенства, нет и вряд ли будет.                  <br>
                Есть превосходство над самим собой.                     <br>
                Ты должен лучше быть, но лучше чем вчера.               <br>
                А детям следовать дорогой судеб -                       <br>
                Исхоженных их предками  жизненных троп -                <br>
                Запрещено, иначе все бы мы ели бананы.                  <br>
                Пусть не в обиду сказано той обезьяне,                  <br>
                Что первой палку подняла, установив                     <br>
                Тем самым первый институт работ,                        <br>
                Распределение полномочий и властей -                    <br>
                Всем заправляет тот, кто всех сильней,                  <br>
                Или умней, или харизмой тянет за собой.                 <br>
                Пусть даже выбрав худшую из дорог.                      <br>
                Но как известно, краткий путь, всегда длинней.          <br><br>

                Мы лишь песчинки жаркого костра,                        <br>
                Что поднимаясь плавно над равниной,                     <br>
                Лишь изредка ища первопричины,                          <br>
                Огонь свой дерзкий поднимают к небесам.                 <br><br>

            </p>

        </div>
        <div class="mb-4">
            <small>Написан 12 января 2014 года</small>
        </div>




</div>

{% endblock content %}




