{% extends 'layout.html' %}

{% block bodypart %}
<body class="page-id-7">
{% endblock bodypart %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('home') }}">Главная</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('sbornik_ot_raskata_do_prosveta') }}">
                Сборник «От раската до просвета»</a></li>
            <li class="breadcrumb-item active" aria-current="page">Над степью вьется дым кудрявый</li>
        </ol>
    </div>
</nav>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
      <h2 class="title">Над степью вьется дым кудрявый</h2>

        <div class="row text-left">

                <p class="ml-3">

                    Над степью вьется дым кудрявый                  <br>
                    Приподнимаясь над костром,                      <br>
                    Где тихо просят два шамана,                     <br>
                    Не просыпаясь, полупьяно,                       <br>
                    Слагая слог в пенье гортанном,                  <br>
                    Богов о милости дождем.                         <br><br>

                    Они здесь были не одни:                         <br>
                    Тут собрались вожди и кланы,                    <br>
                    Когда костер небес касался.                     <br>
                    Все племена скакали в танце                     <br>
                    Больном и диком, принося                        <br>
                    Родных и близких в жертву небу,                 <br>
                    Хвалу богам вверх вознося.                      <br><br>

                    Но проходили дни и ночи,                        <br>
                    И пепел слоем нарастал,                         <br>
                    Когда меж кланов и вождей.                      <br>
                    Война настала. Много очень                      <br>
                    Палили трупов и людей.                          <br>
                    Но впрочем дождь не спал.                       <br><br>

                    Когда поутру после сечи                         <br>
                    Поток кровавый обагрил                          <br>
                    Всю степь и землю. Старца двое                  <br>
                    Слагая слог в гортанном вое                     <br>
                    Просили дождь у духов вечных,                   <br>
                    Выдуманных людьми.                              <br><br>

                </p>

            </div>

            <div class="mb-4">
                <small>Написан 25 августа 2015 года</small>
            </div>
</div>

{% endblock content %}









