{% extends 'layout.html' %}

{% block bodypart %}
<body class="page-id-11">
{% endblock bodypart %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('home') }}">Главная</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('sbornik_ot_raskata_do_prosveta') }}">
                Сборник «От раската до просвета»</a></li>
            <li class="breadcrumb-item active" aria-current="page">Небо тень заволокла</li>
        </ol>
    </div>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
  <h2 class="title">Небо тень заволокла</h2>

    <div class="row text-left">

            <p class="ml-3">

                Небо тень заволокла. Все сжалось в страхе:<br>
                Недавно шумная поляна теперь в тиши пустует.<br>
                Пока лес надевает мокрую рубаху,<br>
                От раската до просвета переживаю бурю.<br><br>

                Не утруждайтесь поиском первопричины:<br>
                Хочу быть простым, прожив жизнь не простую,<br>
                Но точно не свидетелем кончины,<br>
                Когда умирают люди, переживаю бурю.<br><br>

                Подобно изменчивой погоде, жизнь бушует,<br>
                Но чтобы не приключилось, не хочу другую –<br>
                И летом жарким, и в зиму ледяную<br>
                От раската до просвета переживаю бурю.<br><br>

                Растаял первый гром в преддверии исхода.<br>
                Я вспоминаю юность, страсть и поцелуи:<br>
                Как и сейчас, меня тогда звала природа.<br>
                Когда раздета женщина, переживаю бурю.<br><br>

                Я ценю результат, победами горжусь – <br>
                Я помню первую медальку золотую.<br>
                И даже сейчас в поте лица тружусь.<br>
                От неудачи до успеха переживаю бурю.<br><br>

                Беззвучно птицы полетели к горизонту,<br>
                Покинув дуб, пустой оставив смотровую.<br>
                Пока ненастье набирает обороты, <br>
                От раската до просвета переживаю бурю.</p>

        </div>
        <div class="mb-5">
            <small>Написан 10 августа 2018 года</small>
        </div>




</div>

{% endblock content %}





