{% extends 'layout.html' %}

{% block bodypart %}
<body class="page-id-6">
{% endblock bodypart %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('home') }}">Главная</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('sbornik_ot_raskata_do_prosveta') }}">
                Сборник «От раската до просвета»</a></li>
            <li class="breadcrumb-item active" aria-current="page">Оставлен навеки у моря утес</li>
        </ol>
    </div>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class="container">
  <h2 class="title">Оставлен навеки у моря утес</h2>

    <div class="row text-left">

            <p class="ml-3">

                Оставлен навеки у моря утес,                           <br>
                На нем замок твёрдо стоящий.                            <br>
                Холодный ветер зимою унёс                               <br>
                Его душу в грохот бурлящий.                             <br><br>

                Заточенный жесткостью мрачного моря                     <br>
                И сглаженный мягким касанием волны                      <br>
                Утес, на котором замок построен,                        <br>
                Врезается в гладь синевы.                               <br><br>

                Как гром он вещает раскатистым эхом,                    <br>
                Отражая стенания крапчатых волн.                        <br>
                Тут раздаётся и множится смехом,                        <br>
                Но слышен в голосе стон.                                <br><br>

                Распускаясь цветком удручающей скорби                   <br>
                Мокрым рождением из пустоты                             <br>
                Замок в углах таит признаки боли –                      <br>
                Произведения людской суеты.                             <br><br>

                Поросшие мхом и лишаем коридоры                         <br>
                Оббитые стены, гнилой потолок                           <br>
                Лишь на влажном балконе вороны-воры                     <br>
                Стелют черный платок.                                   <br><br>

                Но живы еще в памяти кочинеющих стен                    <br>
                Живые и светлые люди...                                 <br>
                Так внезапно упавших, но вставших с колен               <br>
                Для творения собственных судеб.                         <br><br>

                А люди-то были жизнью дымящей,                          <br>
                Душою творения из камня, увы –                          <br>
                Унесенной зимою в грохот бурлящий                       <br>
                В скользящую гладь синевы.                              <br><br>


            </p>

        </div>
        <div class="mb-4">
            <small>Написан 14 января 2014 года</small>
        </div>




</div>

{% endblock content %}







