{% extends 'layout.html' %}

{% block bodypart %}
<body>
{% endblock bodypart %}


{% block breadcrumb %}
<nav aria-label="breadcrumb">

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ url_for('home') }}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a>Сборник «От раската до просвета»</a></li>
        </ol>
    </div>
</nav>
{% endblock breadcrumb %}


{% block content %}
<div class="container">

  <h2 class="title">Сборник стихов «От Раската До Просвета»</h2>

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/dorozhki" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail " src="../static/picks/1s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Асфальтовые дорожки<br>9 сентября 2012г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/oslablo" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/2s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Ослабло нашей страсти <br>пламя<br>29 августа 2018г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/vpopyat" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/3s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Впопят к минулому<br>28 ноября 2013г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/chudnyi-son" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/4s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Чудный сон!<br>10 августа 2012г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/korabli" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/5s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Есть корабли<br>12 ноября 2016г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/zamok" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/6s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Оставлен навеки <br>у моря утес<br>14 января 2014г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/dym" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/7s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Над степью вьется <br> дым кудрявый<br>25 августа 2015г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/otrazhenie" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/8s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Отражение невыспаных лиц<br>23 апреля 2012г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/chto-yest-chelovek" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/9s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Что есть человек?<br>12 января 2014г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="/sbornik-ot-raskata-do-prosveta/mig" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/10s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Прекрасный миг<br>27 мая 2018г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="sbornik-ot-raskata-do-prosveta/nebo" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/11s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Небо тень заволокла<br>10 августа 2018г.</p>
              </div>
          </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="sbornik-ot-raskata-do-prosveta/posvyatite" class="d-block mb-4 h-100">
          <div class="img__wrap">
            <img class="img-fluid img-thumbnail" src="../static/picks/12s.jpg" alt="">
              <div class="img__description_layer">
                <p class="img__description">Посвятите хотя бы минутку<br>12 января 2015г.</p>
              </div>
          </div>
      </a>
    </div>
  </div>


</div>

{% endblock content %}